<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>unam.mx.SGPF.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>unam.mx.SGPF.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProyecto</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.BuscaProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizaRproyectO</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.actualizaRproyectO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.actualizarPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProcesoFuncional</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.BuscaProcesoFuncional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProyecto</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.AgregarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acciones</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.acciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificandoActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificandoActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSubProceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.addSubProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoSubProceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoSubProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliSubproceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliSubproceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminandoSubProceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliminandoSubProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarPF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregarPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregarActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaPF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliminaPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaProyecto</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliminaProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoAccion</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificandoAccion</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificandoAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaAccion</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificaAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioFuncional</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.usuarioFuncional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaUF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.EliminaUF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaUF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificaUF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificandoUF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificandoUF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grupoDatos</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.grupoDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminaGrupoDato</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.EliminaGrupoDato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaGrupoDato</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificaGrupoDato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificandoGrupoDato</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificandoGrupoDato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoGrupoDato</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoGrupoDato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoUF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoUF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gestionUsuarios</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.gestionUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarUsuario</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificaUsuario</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarUsuario</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregarUsuario</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>agregarUsuario</servlet-name>
        <url-pattern>/agregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaUsuario</servlet-name>
        <url-pattern>/modificaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestionUsuarios</servlet-name>
        <url-pattern>/gestionUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregandoUF</servlet-name>
        <url-pattern>/agregandoUF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregandoGrupoDato</servlet-name>
        <url-pattern>/agregandoGrupoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificandoGrupoDato</servlet-name>
        <url-pattern>/modificandoGrupoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaGrupoDato</servlet-name>
        <url-pattern>/modificaGrupoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaGrupoDato</servlet-name>
        <url-pattern>/EliminaGrupoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grupoDatos</servlet-name>
        <url-pattern>/grupoDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificandoUF</servlet-name>
        <url-pattern>/modificandoUF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaUF</servlet-name>
        <url-pattern>/modificaUF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaUF</servlet-name>
        <url-pattern>/EliminaUF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioFuncional</servlet-name>
        <url-pattern>/usuarioFuncional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificaAccion</servlet-name>
        <url-pattern>/modificaAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificandoAccion</servlet-name>
        <url-pattern>/modificandoAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregandoAccion</servlet-name>
        <url-pattern>/agregandoAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminaProyecto</servlet-name>
        <url-pattern>/eliminaProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminaPF</servlet-name>
        <url-pattern>/eliminaPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarActividad</servlet-name>
        <url-pattern>/agregarActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarPF</servlet-name>
        <url-pattern>/agregarPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminandoSubProceso</servlet-name>
        <url-pattern>/eliminandoSubProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliSubproceso</servlet-name>
        <url-pattern>/eliSubproceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregandoSubProceso</servlet-name>
        <url-pattern>/agregandoSubProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSubProceso</servlet-name>
        <url-pattern>/addSubProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificandoActividad</servlet-name>
        <url-pattern>/modificandoActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acciones</servlet-name>
        <url-pattern>/acciones</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminaAccion</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.EliminaAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agregandoActividad</servlet-name>
        <url-pattern>/agregandoActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaAccion</servlet-name>
        <url-pattern>/EliminaAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProyecto</servlet-name>
        <url-pattern>/BuscaProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizaRproyectO</servlet-name>
        <url-pattern>/actualizaRproyectO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPF</servlet-name>
        <url-pattern>/actualizarPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProcesoFuncional</servlet-name>
        <url-pattern>/BuscaProcesoFuncional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProyecto</servlet-name>
        <url-pattern>/AgregarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modActividad</servlet-name>
        <url-pattern>/modActividad</url-pattern>
    </servlet-mapping>
</web-app>
