<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>unam.mx.SGPF.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProyecto</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.BuscaProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizaRproyectO</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.actualizaRproyectO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.actualizarPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProcesoFuncional</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.BuscaProcesoFuncional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProyecto</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.AgregarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acciones</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.acciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificandoActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.modificandoActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSubProceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.addSubProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoSubProceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoSubProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliSubproceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliSubproceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminandoSubProceso</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliminandoSubProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarPF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregarPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregarActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaPF</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliminaPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminaProyecto</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.eliminaProyecto</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>eliminaProyecto</servlet-name>
        <url-pattern>/eliminaProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminaPF</servlet-name>
        <url-pattern>/eliminaPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarActividad</servlet-name>
        <url-pattern>/agregarActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarPF</servlet-name>
        <url-pattern>/agregarPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminandoSubProceso</servlet-name>
        <url-pattern>/eliminandoSubProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliSubproceso</servlet-name>
        <url-pattern>/eliSubproceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregandoSubProceso</servlet-name>
        <url-pattern>/agregandoSubProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSubProceso</servlet-name>
        <url-pattern>/addSubProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificandoActividad</servlet-name>
        <url-pattern>/modificandoActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acciones</servlet-name>
        <url-pattern>/acciones</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EliminaAccion</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.EliminaAccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregandoActividad</servlet-name>
        <servlet-class>unam.mx.SGPF.controller.agregandoActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agregandoActividad</servlet-name>
        <url-pattern>/agregandoActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminaAccion</servlet-name>
        <url-pattern>/EliminaAccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProyecto</servlet-name>
        <url-pattern>/BuscaProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizaRproyectO</servlet-name>
        <url-pattern>/actualizaRproyectO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPF</servlet-name>
        <url-pattern>/actualizarPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaProcesoFuncional</servlet-name>
        <url-pattern>/BuscaProcesoFuncional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProyecto</servlet-name>
        <url-pattern>/AgregarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modActividad</servlet-name>
        <url-pattern>/modActividad</url-pattern>
    </servlet-mapping>
</web-app>
